%h2
  Edycja konta #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name, required: false, autofocus: true, label: 'Imię'
    = f.input :last_name, required: false, autofocus: true, label: 'Nazwisko'
    = f.input :email, required: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Czekamy na potwierdzenie adresu email: #{resource.unconfirmed_email}
    = f.input :password, autocomplete: "off", hint: "zostaw puste jeśli ma pozostać niezmienione", required: false, label: 'Hasło'
    = f.input :password_confirmation, required: false, label: 'Potwierdź hasło'
    = f.input :current_password, hint: "akutalne hasło jest wymagane aby potwierdzić zmiany", required: true, label: 'Akutalne hasło'
  .form-actions
    = f.button :submit, "Zatwierdź zmiany"
%br
  #{link_to "Usuń konto", registration_path(resource_name), data: { confirm: "Czy jesteś pewien?" }, method: :delete, :class => 'btn btn-danger btn-primary'}
%br
= link_to "Back", :back, :class => 'btn btn-large btn-primary'
