= simple_form_for @project do |f| 

  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error, ")
        nie można zapisać Projektu:
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title, 'Nazwa Projektu'
    %br/
    = f.text_field :title
  %p
    = f.label :text, 'Opis Projektu'
    %br/
    = f.text_area :text
    
  %label
    Właściciel Projektu: 
  - if current_user.present? and not @project.id
    = f.hidden_field :owner, :value => current_user.id
  - unless @users.find_by_id(@project.owner) == nil
    = f.label :text, @users.find(@project.owner).first_name
  - else 
    Brak
  
    
  %p
    = f.submit 'Zapisz Projekt', :class => 'btn btn-success btn-primary'
%br

