= link_to 'Nowy Projekt', new_project_path

%h1 Lista Projektów
%table
  %tr
    %th Nazwa Projektu
    %th Opis Projektu
  - @projects.each do |project|
    %tr
      %td= project.title
      %td= project.text
      %td= link_to 'Otworz', project_path(project)
      %td= link_to 'Edytuj', edit_project_path(project)
      %td= link_to 'Usun', project_path(project), |
      method: :delete,                          |
      data: { confirm: 'Czy jestes pewien?' }        |
    
%p
  = link_to 'Powrót', controller: 'welcome'