!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Holo Theme
    %meta{:content => "Bootply", :name => "generator"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    
    = csrf_meta_tags
    #flash
      = flash[:notice] if flash[:notice]
      = flash[:alert] if flash[:alert]
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .page-container
      / top navbar
      %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".sidebar-nav", "data-toggle" => "offcanvas", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Zarządzacz Projektami
      .container-fluid
        .row.row-offcanvas.row-offcanvas-left
          / sidebar
          #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{:role => "navigation"}
            %div{"data-offset-bottom" => "90", "data-offset-top" => "45", "data-spy" => "affix"}
              %ul#sidebar-nav.nav
                %li
                  = link_to 'Strona Główna', '/'
                %li
                  = link_to 'Lista Projektów', projects_path
                %li
                  = link_to 'Ustawienia systemu', projects_path
                %li
                  = link_to 'O systemie', projects_path
                  
                - if user_signed_in?
                  %li #{link_to 'Sign out', destroy_user_session_path, method: :delete}
                - else
                  = link_to 'Sign in', new_user_session_path      
          / /sidebar
          / /main
          .col-xs-12.col-sm-9{"data-spy" => "scroll", "data-target" => "#sidebar-nav"}
            .row
              .col-sm-6
                .panel.panel-default
                  .panel-heading
                    %a.pull-right{:href => "#"} View all
                    %h4 Newest Items
                  .panel-body
                    = yield
                  / /panel-body
                / /panel
                .well
                  %form.form-horizontal{:role => "form"}
                    %h4 What's New
                    .form-group{:style => "padding:14px;"}
                      %textarea.form-control{:placeholder => "Update your status"}
                    %button.btn.btn-success.pull-right{:type => "button"} Post
                    %ul.list-inline
                      %li
                        %a{:href => "#"}
                          %i.glyphicon.glyphicon-align-left
                      %li
                        %a{:href => "#"}
                          %i.glyphicon.glyphicon-align-center
                      %li
                        %a{:href => "#"}
                          %i.glyphicon.glyphicon-align-right
                / /well
                .panel.panel-default
                  .panel-heading
                    %a.pull-right{:href => "#"} View all
                    %h4 Responsive Design
                  .panel-body
                    %p
                      %img.img-circle.pull-right{:src => "//placehold.it/100"}/
                      %a{:href => "#"} Bootstrap Playground
                    .clearfix
                    %hr/
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                    %hr/
                    .btn-group.pull-right.btn-toggle
                      %button.btn.btn-default ON
                      %button.btn.btn-primary.active OFF
                  / /panel-body
                / /panel
              / /col
              .col-sm-6
                .well
                  %form.form
                    
                / /well
                .panel.panel-default
                  .panel-heading
                    %a.pull-right{:href => "#"} View all
                    %h4 People You May Know
                  .panel-body
                    %p
                      %img.img-circle.pull-right{:src => "//placehold.it/100"}/
                      %a{:href => "#"} Bootstrap Playground
                    .clearfix
                    %hr/
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                    %hr/
                    .btn-group.pull-right.btn-toggle
                      %button.btn.btn-default ON
                      %button.btn.btn-primary.active OFF
                  / /panel-body
                / /panel
                .panel.panel-default
                  .panel-heading
                    %a.pull-right{:href => "#"} View all
                    %h4 Portlet Heading
                  .panel-body
                    %ul.list-group
                      %li.list-group-item
                        %span.btn-group.btn-toggle.pull-right{:href => "#"}
                          %button.btn.btn-xs.btn-default On
                          %button.btn.btn-xs.btn-primary.active Off
                        Bootply
                      %li.list-group-item
                        %span.btn-group.btn-toggle.pull-right{:href => "#"}
                          %button.btn.btn-xs.btn-primary.active On
                          %button.btn.btn-xs.btn-default Off
                        Templates
                      %li.list-group-item
                        %span.btn-group.btn-toggle.pull-right{:href => "#"}
                          %button.btn.btn-xs.btn-default On
                          %button.btn.btn-xs.btn-primary.active Off
                        Snippets
                  / /panel-body
                / /panel
              / /col
            / /row
            
    .clearfix
        
    / /.page-container
    %footer
      / footer
      .container
        .row
          %ul.list-unstyled.text-right
            %li.col-sm-4.col-xs-6
              %a{:href => "#"} O projekcie
        / /row
      / /container
    / script references
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => "assets/javascripts/bootstrap.min.js"}
    %script{:src => "assets/javascripts/scripts.js"}